.conteiner {
  margin: 10px 20px;
  border-radius: 50px;
}

.card-player {
  background-color: #242e3e;
}

.card-action {
  background-color: #242e3e;
  color: aliceblue;
  justify-content: center;
}
.butum-expasion {
  color: red;
  width: 100px;
}
.conteiner-video {
  display: flex;
  justify-content: center;
  margin: 0px 0px;
  background-color: #242e3e;
  flex-direction: row;
}

.item-player {
  margin: 0px;
  padding: 1%;
}

.player-wrapper {
  position: absolute;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 10;
  left: 10;
}

@media screen and (max-width: 664px) {
  .conteiner-video {
    display: flex;
    justify-content: center;
    margin: 0px 0px;
    background-color: #242e3e;
    flex-direction: column;
  }
}
