.conteinerTabela {
  margin: 10px 20px;
  padding: 10px;
  background-color: #242e3e !important;
  border-radius: 5px;
  width: auto;
  height: auto;
  color: #fff;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: #fff;
}
/* .table-row {
   {
    "& > *": {
      borderbottom: "unset";
    }
  }
} */

/* h5 {
  font-size: 18px;
  background-color: transparent;
} */

.table-hover tbody tr:hover {
  color: #adb7be;
}

.text-center {
  text-align: left !important;
}

/* .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $progress-bar-color;
    text-align: center;
    white-space: nowrap;
    background-color: $progress-bar-bg;
  } */

.tab-dados {
  background-color: transparent;
}

.conteiner-Historico {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 5px;
  padding-top: 0px;
  margin-top: 0px;
  font-weight: "900";
  color: white;
}
