/* .conteinerMenuCorrida {
  margin: 10px 20px;
  padding: 0x 0px;
  /* background-color: #242e3e; */
/* border-radius: 5px;
  height: max-content;
  width: max-content; */

/* display: flex; */
/* flex-direction: row; */
/* justify-content: space-around; */
/* } */

/* .card-corrida {
  transition: all 0.5s ease-in-out;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.08);
  border-right: 1px solid black !important;
}

.card-body-corridas {
  padding: 1px 1px;
  padding-right: 5px;
} */
/* .textoCorrida {
  padding: 10px 10px;
  background-color: transparent;
  color: #adb7be;
  font-size: 16px;
  line-height: 1.2;
} */

.table-hist {
  padding-bottom: 0px;
  padding-top: 0;
}

.table {
  padding: 8px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: #fff;
}

.conteinerGlobal {
  margin: 0;
  padding: 0;
}
